# We have 2 stage Test and Deploy
stages:
    - test
    - deploy

# Config cache
cache:
    paths:
        - node_modules/

# Test job
test:
    # Docker image
    image: node:latest
    # Attach Test job to Test stage
    stage: test
    # Config to use GitLab Shared Runner with Executor Docker
    tags:
        - docker
    script:
        - npm install
    # Defines the names of branches and tags the job runs for
    only:
        - master
# Deploy job
deploy:
    type: deploy
    # Attach Deploy job to Deploy stage
    stage: deploy
    # Config to use our Runner with Executor Shell
    tags:
        - vet
    script:
        # Only copy changed files to project folder
        - cp -r -u * $PROJECT_DIR
        - cd $PROJECT_DIR
        - npm install
        # Restart NodeJS service
        - sequelize db:drop
        - sequelize db:create
        - sequelize db:migrate
        - forever stopall || true
        - forever start index.js
    only:
        - master
